@import url("node_modules/bootstrap/dist/css/bootstrap.min.css");
body {
    background-color: #99ff66;
}

#tabs {
	position: relative;
}
#divAddFile{
}
.glyphicon-remove-circle{
	position: absolute;
	right: 3px;
	top: 1px;
}
.glyphicon-remove-circle:hover{
	cursor: auto;
}
.dropzone{
	height:400px;
	width:100%;
	padding-top: 22%;
	padding-bottom: 5px;
	background:#efefef;
	border:2px dashed #3f3f3f;
	text-align:center;
	font-style:italic;
}
