
div.ardockDT.zFixed {
    position: absolute;
    left:0px;
    top:100px;
    font-size: 0.7em;
    border-radius: 0px 4px 4px 0px;
    width: 210px;
    padding-right:5px;
}


div.ardockDT.zFixed div.datatableW {
    background-color: #008552;
    opacity:0.9;
    width: 205px;
    border-radius: inherit;
}

div.ardockDT.zFixed div.datatableW tbody tr:nth-child(odd) {
   background-color: #ccc;
}

div.ardockDT.zFixed div.datatableW .dataTables_filter {
    width : auto;
}

div.ardockDT.zFixed .dtFooter {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 21%;
}

div.ardockDT.zFixed div.datatableW table.dataTable tbody>tr>td {
    padding : 0px 0px 0px 0px;
    border-top:none;
    border-left: none;
    cursor:pointer;
}
div.ardockDT.zFixed div.datatableW table.dataTable tbody>tr>td:last-child {
    border-right: none;
}

div.ardockDT.zFixed div.datatableW table.dataTable thead th {
    padding : 0px 0px 0px 0px;
}
div.ardockDT.zFixed div.datatableW table.dataTable thead td {
    padding : 0px 0px 0px 0px;
}

div.ardockDT.zFixed div.datatableW label input {
    width: 130px;
}

div.ardockDT.zFixed .btn.xlDL {
   /* width : 75%;*/
    background-color: #008552;
    float:left;
    width: 65%;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 10px;
}

div.ardockDT div.datatableW {
    padding: 0.5em;
}

div.ardockDT .cFooter {
    padding-top : 0.5em;
    text-align: center;
}

div.ardockDT .btn.xlDL {
   /* width : 75%;*/
    float:left;
    width: 42%;
    margin-top: -4px;
    margin-bottom: 5px;
    color:black;
}

div.ardockDT .btn.xlDL span{
    padding-left: 1.25em;
}

div.ardockDT div.btn.willSlide {
   /* background-color: rgba(204, 204, 204, 0.88)!important;*/
    background-color: rgb(192, 192, 192);
}

div.ardockDT div.datatableW {
    background-color: #f5f5f5!important;
    border-radius: 0px 0px 0px 4px;
}

div.ardockDT div.datatableW tbody tr td{
   /* padding: 4px;*/
   text-align: center;
}
div.ardockDT div.dataTables_scrollBody {
    overflow-x: hidden!important;
  /*  border-bottom : none!important;*/
}
div.ardockDT div.datatableW tbody tr:first-child{
    border-top: none;
}
div.ardockDT div.datatableW tbody tr:first-child td{
    border-top: none;
}

div.ardockDT div.datatableW thead th[colspan="3"]{
    text-align:center;
    border-bottom: none;
}
div.ardockDT div.datatableW thead th[colspan="2"]{
    text-align:center;
    border-bottom: none;
}
div.ardockDT div.datatableW thead{
    border-bottom: 1px solid grey;
}

div.ardockDT div.datatableW thead tr:last-child th{
    padding-top: 4px;
    border-bottom: 1px solid grey;
}

div.ardockDT div.datatableW .dataTables_filter {
    width: 55%;
}

div.ardockDT div.datatableW label input {
    width: 110px;
}
