div.endscript {
   /* background: url(assets/END_awesome.png);*/
}

div.ardockDLctrl {
    /*width : 300px;*/
    background-color: whitesmoke;
    padding-top:4px;
    padding-bottom:4px;
    padding-right:4px;
    /*padding-left: 10px;*/
}

div.pdb {
    /*background: url(assets/pdb.png);*/
}

div.ardockDLcBut {
    padding-top: 5%;
}

div.faBtnDL {
    padding : 5px 25px 4px 25px;
    color: black;
}

div.ardockDLctrl div.btn-primary {
    float :none;
}

div.ardockDLctrl .keyPaste input {
    width: 291px;
    height: 2.5em;
}
div.ardockDLctrl .keyPaste {
    padding-top: 0.25em;
    padding-left:5px;
}
div.ardockDLctrl span.invit {
    border-radius: 8px 0px 0px 8px;
}
div.ardockDLctrl span.close {
    width : 2.5em;
    opacity: 0.9;
    border-radius: 0px 8px 8px 0px;
    /*padding-left:5px;*/

}

div.ardockDLctrl  div.keyContainer {
     padding-top: 0.3em;
}

div.ardockDLctrl span.close:hover {
    color:white;
    background-color: grey;
}

div.ardockDLctrl  div.keyComment {
    color : steelblue;
    padding-left: 10px;
    padding-top: 0.5em;
    padding-bottom: 0.85em;
}

div.ardockDLctrl .keyPasteForm {
    display: inline;
    width: 80%;
}

div.ardockDLctrl {
    background-color: #f5f5f5!important;
    padding-left : 5px;
}

div.ardockDLcBut {
    /*background-color: rgba(204, 204, 204, 0.88)!important;*/
    background-color: rgb(192, 192, 192)!important;
}
/*
div.ardockDLctrl.content {
    background-color: rgba(204, 204, 204, 0.88)!important;
}

*/


